<div class="card-container">
    <mat-card>
        <mat-card-title>Informations</mat-card-title>
        <mat-card-content>
            <h5>Prénom</h5>
            <p>{{employee?.firstName}}</p>
            <h5>Nom</h5>
            <p>{{employee?.lastName}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Poste</mat-card-title>
        <mat-card-content>
            <h5>Poste</h5>
            <p>{{employee?.poste}}</p>
            <h5>Mission</h5>
            <p>{{employee?.mission}}</p>
        </mat-card-content>
    </mat-card>

    <app-address [address]="employee?.address"
                 [phone]="employee?.phone"></app-address>
</div>