.example-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}
  
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
}
  
.sii-logo{
  margin: 10px 45px;
}