<mat-sidenav-container class="example-container">
  <mat-sidenav class="example-sidenav"
               mode="side"
               #sidenav
               opened>
    <img src="../assets/images/sii-canada-logo-website-72x110.png"
         alt="SII journal Logo : SII letters on blue background"
         class="sii-logo">
    <mat-selection-list [multiple]="false">
      <mat-list-option [routerLink]="['/employees']">Employées</mat-list-option>
      <mat-list-option [routerLink]="['/clients']">Clients</mat-list-option>
      <mat-list-option [routerLink]="['/suppliers']">Fournisseurs</mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="main-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>